---
layout: default
---

{{ content }}

<h2>Publications</h2>
<table>
    <tr>
        <td width="360">
            <img src="{{ site.github.url }}/assets/img/VR2025Xuning.png" alt="Home" width="100%">
        </td>
        <td>
            <b>Optimizing Moving Target Selection in VR by Integrating Proximity-Based Feedback Types and Modalities
            </b> <br> <br>
            <strong>Xuning Hu</strong>, Wenxuan Xu, Yushi Wei, Zhang Hao, Jin Huang, Hai-Ning Liang.
            <br>
            <em>IEEE Conference on Virtual Reality and 3D User Interfaces</em> (<i><b>VR 2025</b></i>).
            <p>
               
            </p>
        </td>
    </tr>
</table>
    <table>
        <tr>
            <td width="360">
                <img src="{{ site.github.url }}/assets/img/ismar.png" alt="Home" width="100%">
            </td>
            <td>
                <b>Exploring the Effects of Spatial Constraints and Curvature for 3D Piloting in Virtual Environments
                </b> <br> <br>
                <strong>Xuning Hu</strong>, Xinan Yan, Yushi Wei, Wenxuan Xu, Yue Li, Yue Liu, Hai-Ning Liang.
                <br>
                <em>IEEE International Symposium on Mixed and Augmented Reality</em> (<i><b>ISMAR 2024</b></i>).
                <p>
                    <a href="{{ site.github.url }}/assets/pdfs/ISMAR2024Xuning.pdf"  target="blank">paper</a>
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="360">
                <img src="{{ site.github.url }}/assets/img/VR2025Wenxuan.png" alt="Home" width="100%">
            </td>
            <td>
                <b>Predicting Ray Pointer Landing Poses in VR Using Multimodal LSTM-Based Neural Networks                
                </b> <br> <br>
                Wenxuan Xu, Yushi Wei, <strong>Xuning Hu</strong>, Wolfgang Stuerzlinger, Yuntao Wang, Hai-Ning Liang.
                <br>
                <em>IEEE Conference on Virtual Reality and 3D User Interfaces</em> (<i><b>VR 2025</b></i>).
                <p>
                   
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="360">
                <img src="{{ site.github.url }}/assets/img/PACM2024Rongkai.png" alt="Home" width="100%">
            </td>
            <td>
                <b>Experimental Analysis of Freehand Multi-Object Selection Techniques in Virtual Reality Head-Mounted Displays              
                </b> <br> <br>
                Rongkai Shi, Yushi Wei, <strong>Xuning Hu</strong>, Liu Yu, Yue Yong, Hai-Ning Liang.
                <br>
                <em>Proceedings of the ACM on Human-Computer Interaction</em> (<i><b>PACM 2024</b></i>).
                <p>
                    <a href="{{ site.github.url }}/assets/pdfs/PACM2024Rongkai.pdf"  target="blank">paper</a>
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="360">
                <img src="{{ site.github.url }}/assets/img/SUI2024Raj.png" alt="Home" width="100%">
            </td>
            <td>
                <b>OnArmQWERTY: An Empirical Evaluation of On-Arm Tap Typing for AR HMDs         
                </b> <br> <br>
                Rajkumar Darbar, <strong>Xuning Hu</strong>, Xinan Yan, Yushi Wei, Hai-Ning Liang, Wenge Xu, Sayan Sarcar
                <br>
                <em>Proceedings of the 2024 ACM Symposium on Spatial User Interaction</em> (<i><b>SUI 2024</b></i>).
                <p>
                    <a href="{{ site.github.url }}/assets/pdfs/SUI2024Raj.pdf"  target="blank">paper</a>
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="360">
                <img src="{{ site.github.url }}/assets/img/Game.png" alt="Home" width="100%">
            </td>
            <td>
                <b>Impact of Tutorial Modes with Different Time Flow Rates in Virtual Reality Games
                </b> <br> <br>
               Boyuan Chen, Xinan Yan, <strong>Xuning Hu</strong>, Dominic Kao, Hai-Ning Liang.
                <br>
                <em>ACM SIGGRAPH SYMPOSIUM ON INTERACTIVE 3D GRAPHICS AND GAMES</em> (<i><b>I3D 2024</b></i>).
                <p></p>
                <p>
                    <a href="{{ site.github.url }}/assets/pdfs/Game.pdf"  target="blank">paper</a>
                </p>
            </td>
        </tr>
        <tr>&nbsp</tr>
        <tr>&nbsp</tr>
        <tr>&nbsp</tr>
    </table>
