---
layout: default
---

{{ content }}

<h2>Publications</h2>
    <table>
        <tr>
            <td width="360">
                <img src="{{ site.github.url }}/assets/img/ISMAR.png" alt="Home" width="100%">
            </td>
            <td>
                <b>Exploring the Effects of Spatial Constraints and Curvature for 3D Piloting in Virtual Environments
                </b> <br> <br>
                <strong>Xuning Hu</strong>, Xinan Yan, Yushi Wei, Wenxuan Xu, Yue Li, Yue Liu, Hai-Ning Liang.
                <br>
                <em>IEEE International Symposium on Mixed and Augmented Reality</em> (<i><b>ISMAR 2024</b></i>).
                <p></p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="360">
                <img src="{{ site.github.url }}/assets/img/Game.png" alt="Home" width="100%">
            </td>
            <td>
                <b>Impact of Tutorial Modes with Different Time Flow Rates in Virtual Reality Games
                </b> <br> <br>
               Boyuan Chen, Xinan Yan, <strong>Xuning Hu</strong>, Dominic Kao, Hai-Ning Liang.
                <br>
                <em>ACM SIGGRAPH SYMPOSIUM ON INTERACTIVE 3D GRAPHICS AND GAMES</em> (<i><b>I3D 2024</b></i>).
                <p></p>
                <p>
                    <a href="{{ site.github.url }}/assets/pdfs/Game.pdf"  target="blank">paper</a>
                </p>
            </td>
        </tr>
        <tr>&nbsp</tr>
        <tr>&nbsp</tr>
        <tr>&nbsp</tr>
    </table>
