---
layout: default
---

<h2>Research Experience</h2>
    <table>
        <tbody>
            <tr>
                <p>
                    <a href="http://www.iscas.ac.cn/jgsz2016/200908/t20090827_2449379.html" target="_blank">
                        <strong>Human-Computer Interaction Technology and Intelligent Information Processing Laboratory, Institute of Software Chinese Academy of Sciences</strong></a>
                    <span style="float: right;"><i><strong>Jan 2024 - Present</strong></i>
                </p>
                <i>Research Intern, Human-Computer Interaction</i>
                <ul>
                    <li>Advised by Prof. <a href="https://people.ucas.ac.cn/~huangjin/">Jin Huang</a>.
                    </li>
                    <li>Designing Technology for Selecting Moving Objects and Modeling User Behavior Patterns.</li>
                </ul>
                <!-- <td><br><br><br><br></td> -->
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr>
                <p> <a href="https://www.researchgate.net/lab/X-CHI-Lab-Hai-Ning-Liang/" target="_blank"><strong>X-CHI Lab,
                      Liverpool University</strong></a> <span style="float: right;"><i><strong>Dec 2022 -
                                Present</strong></i>
                </p> <i>Research Intern, Human-Computer Interaction
                    </a></i>
                <ul>
                    <li>Advised by Prof. <a href="https://cma.hkust-gz.edu.cn/people/hai-ning-liang/">Hai-Ning Liang</a>.
                    </li>
                    <li>Conducting research on designing selection technology, typing input, game tutorials, and user modeling
                    </li>
                </ul>
            </tr>
            <tr></tr>
        </tbody>
    </table>

    {{ content }}

